*{tag: "#{namespace_for_tags}Cnpj"} = ts_cnpj(emitente.cnpj)
- if emitente.inscricao_municipal.present? && self.is_a?(BrNfe::Service::Betha::V1::RecepcaoLoteRps)
	*{tag: "#{namespace_for_tags}InscricaoMunicipal"} = ts_inscricao_municipal(emitente.inscricao_municipal)