orig  = icms.origem
CST   = icms.codigo_cst

modBC    = icms.modalidade_base_calculo
pRedBC   = nf_xml_value_percent  icms.reducao_base_calculo
vBC      = nf_xml_value_monetary icms.total_base_calculo
pICMS    = nf_xml_value_percent  icms.aliquota
vICMS    = nf_xml_value_monetary icms.total

/################## ICMS ST ##################\
modBCST  = icms.modalidade_base_calculo_st
- if icms.mva_st.to_f > 0.0
	pMVAST   = nf_xml_value_percent  icms.mva_st
- if icms.reducao_base_calculo_st.to_f > 0.0
	pRedBCST = nf_xml_value_percent  icms.reducao_base_calculo_st
vBCST    = nf_xml_value_monetary icms.total_base_calculo_st
pICMSST  = nf_xml_value_percent  icms.aliquota_st
vICMSST  = nf_xml_value_monetary icms.total_st