vBC      = nf_xml_value_monetary imposto.total_base_calculo
vDespAdu = nf_xml_value_monetary imposto.total_despesas_aduaneiras
vII      = nf_xml_value_monetary imposto.total_imposto
vIOF     = nf_xml_value_monetary imposto.total_iof