- rps ||= false
- raise "Deve ser passado uma vsariavel local chamada rps" unless rps

Valores
	= render_xml '_tc_valores', rps: rps

ItemListaServico = ts_item_lista_servico(rps.item_lista_servico)
- if rps.cnae_code.present?
	CodigoCnae = ts_codigo_cnae(rps.cnae_code)
- if rps.codigo_tributacao_municipio.present?
	CodigoTributacaoMunicipio = ts_codigo_tributacao(rps.codigo_tributacao_municipio)

Discriminacao   = ts_discriminacao(rps.description)
CodigoMunicipio = ts_codigo_municipio_ibge(rps.codigo_municipio)