*{tag: "#{namespace_for_tags}CpfCnpj"}
	= render_xml '_tc_cpf_cnpj', cpf_cnpj: destinatario.cpf_cnpj
- if destinatario.inscricao_municipal.present?
	*{tag: "#{namespace_for_tags}InscricaoMunicipal"} = ts_inscricao_municipal(destinatario.inscricao_municipal)