- address ||= false
- raise "Deve ser passado uma variável local chamda address" unless address

*{tag: "#{namespace_for_tags}Endereco"} = ts_endereco("#{address.logradouro}")
*{tag: "#{namespace_for_tags}Numero"}   = ts_numero_endereco("#{address.numero}")

- address.complemento.present?
	*{tag: "#{namespace_for_tags}Complemento"}  = ts_complemento_endereco("#{address.complemento}")

*{tag: "#{namespace_for_tags}Bairro"}          = ts_bairro("#{address.bairro}")
*{tag: "#{namespace_for_tags}CodigoMunicipio"} = ts_codigo_municipio_ibge(address.codigo_municipio)
*{tag: "#{namespace_for_tags}Uf"}              = ts_uf("#{address.uf}")
*{tag: "#{namespace_for_tags}Cep"}             = ts_cep(address.cep)