- ibge_code ||= false
- raise "Deve ser passado uma variável local chamda ibge_code" unless ibge_code

- uf ||= false
- raise "Deve ser passado uma variável local chamda uf" unless uf

*{tag: "#{namespace_for_tags}CodigoMunicipio"} = ts_codigo_municipio_ibge(ibge_code)
*{tag: "#{namespace_for_tags}Uf"}              = ts_uf(uf)