/ Alguns órgãos emissores não aceitam o atributo ID na tag (Como a betha)
- attributes = id_attribute? ? {id: "#{id_cancelamento}"} : {}
InfPedidoCancelamento *attributes
	= render_xml '_tc_inf_pedido_cancelamento'