Numero = ts_numero_nfse(nfe_number)
Cnpj   = ts_cnpj(emitente.cnpj)

- if emitente.inscricao_municipal.present?
	InscricaoMunicipal = ts_inscricao_municipal(emitente.inscricao_municipal)

CodigoMunicipio = ts_codigo_municipio_ibge(emitente.endereco.codigo_municipio)