*{tag: "#{namespace_identifier.to_s+':' if namespace_identifier}ConsultarSituacaoLoteRpsEnvio"} *message_namespaces
	Prestador
		= render_xml '_tc_identificacao_prestador'
	Protocolo = ts_numero_protocolo(protocolo)