- rps ||= false
- raise "Deve ser passado uma vsariavel local chamada rps" unless rps

Valores
	= render_xml '_tc_valores', rps: rps

ItemListaServico          = BrNfe::Helper.only_number(rps.item_lista_servico).rjust(5,'0').max_size(5)
- if rps.cnae_code.present?
	CodigoCnae                = BrNfe::Helper.only_number(rps.cnae_code).max_size(7) 
- if rps.codigo_tributacao_municipio.present?
	CodigoTributacaoMunicipio = rps.codigo_tributacao_municipio.max_size(20)

Discriminacao   = "#{rps.description}".max_size(2_000).remove_accents
CodigoMunicipio = BrNfe::Helper.only_number(rps.codigo_municipio).max_size(7)