/ A mesma estrutura é utilizada para o RPS e o RPS Substituido
/ então se passar o parâmetro substituicao então irá setar os valores
/ referentes a substituição
- substituicao ||= false
- current_numero = if substituicao then rps.numero_substituicao else rps.numero end
- current_serie  = if substituicao then rps.serie_substituicao  else rps.serie  end
- current_tipo   = if substituicao then rps.tipo_substituicao   else rps.tipo   end

- number_size ||= 15
- serie_size  ||= 5
- type_size   ||= 1


Numero = BrNfe::Helper.only_number(current_numero).max_size(number_size)
Serie  = "#{current_serie}".max_size(serie_size)
Tipo   = "#{current_tipo}".max_size(type_size)