= render_xml('_tc_cpf_cnpj', cpf_cnpj: nfe.endereco_entrega_cpf_cnpj )
xLgr = nf_xml_value_text( nfe.endereco_entrega.logradouro, 60 )
nro  = nf_xml_value_text( nfe.endereco_entrega.numero,     60 )

- if nfe.endereco_entrega.complemento.present?
	xCpl = nf_xml_value_text( nfe.endereco_entrega.complemento, 60 )

xBairro = nf_xml_value_text( nfe.endereco_entrega.bairro, 60 )
cMun    = nf_xml_value_codigo_ibge_municipio( nfe.endereco_entrega.codigo_municipio )
xMun    = nf_xml_value_text( nfe.endereco_entrega.nome_municipio, 60 )
UF      = nf_xml_value_UF(   nfe.endereco_entrega.uf )