NFe xmlns="http://www.portalfiscal.inf.br/nfe"
	- infNFe = render_xml 'infNFe', nfe: nfe
	= infNFe.gsub('<infNFe xmlns="http://www.portalfiscal.inf.br/nfe"','<infNFe ').html_safe
	= render_xml('signature_sh1', data_xml: infNFe, uri: "NFe#{nfe.chave_de_acesso}").html_safe