*{tag: "#{namespace_for_tags}Descricao"}     = "#{item.description}".max_size(200)
*{tag: "#{namespace_for_tags}Quantidade"}    = ts_valor item.quantidade
*{tag: "#{namespace_for_tags}ValorUnitario"} = ts_valor item.valor_unitario