Endereco
	Logradouro =     "#{logradouro}".max_size(125)
	- if numero.present?
		NumeroEndereco = "#{numero}".max_size(10)
	- if complemento.present?
		ComplementoEndereco = "#{complemento}".max_size(30)
	Bairro =         "#{bairro}".max_size(60)
	- if codigo_pais.to_i ==  1058
		Municipio
			CodigoMunicipio = BrNfe::Helper.only_number(codigo_municipio).max_size(7)
	- else
		Municipio
			NomeMunicipio = "#{nome_municipio}".max_size(60)

	CodigoPostal
		CEP = BrNfe::Helper.only_number(cep).max_size(8)
	
	- if codigo_pais.to_i ==  1058
		UF = "#{uf}".max_size(2)
	- else
		Pais = codigo_pais