SignedInfo xmlns="http://www.w3.org/2000/09/xmldsig#"
	CanonicalizationMethod Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315"
	SignatureMethod Algorithm="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
	Reference URI="##{uri}"
		Transforms
			Transform Algorithm="http://www.w3.org/2000/09/xmldsig#enveloped-signature"
			Transform Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315"
		DigestMethod Algorithm="http://www.w3.org/2000/09/xmldsig#sha1"
		DigestValue = remove_quebras Base64.encode64(OpenSSL::Digest::SHA1.digest(data_xml.html_safe))