soap:Envelope xmlns:soap="#{xmlns_soap}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	soap:Header
		nfeCabecMsg xmlns="#{url_xmlns}"
			cUF = ibge_code_of_issuer_uf
			versaoDados = xml_version
	soap:Body
		nfeDadosMsg xmlns="#{url_xmlns}"
			= content_xml.html_safe