vBCUFDest      = nf_xml_value_monetary( icms.total_base_calculo )
pFCPUFDest     = nf_xml_value_monetary(  icms.percentual_fcp )
pICMSUFDest    = nf_xml_value_monetary(  icms.aliquota_interna_uf_destino )
pICMSInter     = nf_xml_value_monetary( icms.aliquota_interestadual )
pICMSInterPart = nf_xml_value_monetary(  icms.percentual_partilha_destino )
vFCPUFDest     = nf_xml_value_monetary( icms.total_fcp_destino )
vICMSUFDest    = nf_xml_value_monetary( icms.total_destino )
vICMSUFRemet   = nf_xml_value_monetary( icms.total_origem )