downloadNFe xmlns="http://www.portalfiscal.inf.br/nfe" versao="#{xml_version}"
	tpAmb = nf_xml_value_tipo_ambiente( env )
	xServ = 'DOWNLOAD NFE'
	CNPJ  = nf_xml_value_cnpj( emitente.cpf_cnpj )
	chNFe = nf_xml_value_chave_nfe( chave_nfe )