*{tag: "#{namespace_for_tags}NumeroLote"} = ts_numero_lote(numero_lote_rps)
*{tag: "#{namespace_for_tags}CpfCnpj"}
	= render_xml '_tc_cpf_cnpj', cpf_cnpj: emitente.cpf_cnpj
*{tag: "#{namespace_for_tags}InscricaoMunicipal"} = ts_inscricao_municipal(emitente.inscricao_municipal)
*{tag: "#{namespace_for_tags}QuantidadeRps"} = ts_quantidade_rps(lote_rps.size)
*{tag: "#{namespace_for_tags}ListaRps"}
	- lote_rps.each do |rps|
		*{tag: "#{namespace_for_tags}Rps"}
			/ tc_rps já está assinado (se tiver um certificado)
			= render_xml '_tc_rps', rps: rps